@font-face{
    font-family: 'Codec Pro';
    src: url("/static/fonts/codec-pro.regular.ttf") format("truetype");
    }

:root {
    --engine-delay: 0.075s;
    --additional-engine-delay: 0.3s;
}

body {
    background-color: white;
}

.title {
    font-family: 'Codec Pro';
}

/* Affects both telemetry-header and telemetry-box */
.s1-telemetry {
    position: absolute;
    top: 75px;
    left: 500px;
    width: 400px;
}

.s2-telemetry {
    position: absolute;
    top: 75px;
    left: 975px;
    width: 400px;

    animation-delay: .075s;
    animation-fill-mode: both;
}

.s1-telemetry-header, .s2-telemetry-header {
    border: 2px  solid;
    border-bottom: none;
    margin: 0px 0px 0px 0px;
    min-height: 50px;
    background-color: lightgray;
    width: fit-content;
}

.s1-telemetry-box, .s2-telemetry-box {
    border: 2px solid;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    background-color: lightgray;
    min-height: 500px;
}

.s1-state, .s1-altitude, .s1-heading, .s1-pitch, .s1-gforce {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s2-state, .s2-altitude, .s2-heading, .s2-pitch, .s2-gforce {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.s1-telemetry p, .s2-telemetry p {
    font-family: 'Codec Pro';
    font-size: 30px;
    margin: 10px;
}

.s1-telemetry-state, .s2-telemetry-state {
    border: 2px solid;
    margin: 15px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
    background-color: lightgray;
}

.s1-engines {
    margin: 50px 0px 0px 0px;
    height: 400px;
    width: 400px;
    border: 0px solid;
    border-radius: 50%;
    position: absolute;
    top: 750px;
    left: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s1-engine-outline {
    margin: 0px 0px 0px 0px;
    height: 400px;
    width: 400px;
    border: 2px solid;
    border-radius: 50%;
    animation-delay: calc(var(--engine-delay) * 8 + var(--additional-engine-delay));
    animation-fill-mode: both;
}

.s1-engine {
    height: 110px;
    width: 110px;
    border: 2px solid;
    border-radius: 50%;
    position: absolute;

    font-size: 50px;
}

.s1-e1 {
    transform: translateY(-125px);
    animation-delay: calc(var(--engine-delay) * 1 + var(--additional-engine-delay));
    animation-fill-mode: both;
}

.s1-e4 {
    transform: translateY(125px);
    animation-delay: calc(var(--engine-delay) * 4 + var(--additional-engine-delay));
    animation-fill-mode: both;
}

.s1-e2 {
    transform: translate(105px, -62.5px);
    animation-delay: calc(var(--engine-delay) * 2 + var(--additional-engine-delay));
    animation-fill-mode: both;
}

.s1-e5 {
    transform: translate(-105px, 62.5px);
    animation-delay: calc(var(--engine-delay) * 5 + var(--additional-engine-delay));
    animation-fill-mode: both;
}

.s1-e3 {
    transform: translate(105px, 62.5px);
    animation-delay: calc(var(--engine-delay) * 3 + var(--additional-engine-delay));
    animation-fill-mode: both;
}

.s1-e6 {
    transform: translate(-105px, -62.5px);
    animation-delay: calc(var(--engine-delay) * 6 + var(--additional-engine-delay));
    animation-fill-mode: both;
}

.s1-e7 {
    animation-delay: calc(var(--engine-delay) * 7 + var(--additional-engine-delay));
    animation-fill-mode: both;
}

button {
    font-family: 'Codec Pro';
    background-color: lightgray;
}

button:active {
    background-color: darkgray;
}

@keyframes slideDown {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.slide-down-animation {
    animation-name: slideDown;
    animation-duration: .75s;
    animation-timing-function: ease;
}

.fade-in-animation {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
}